.stays { 
    position: absolute;
    width: 8%;
    transform-origin: 20px -10px 10px;
    animation-name: fall, sway;
    animation-duration: 20s, 20s;
    animation-fill-mode: both;
    animation-timing-function: linear, ease-in-out;
  }
#stuck1 { width: 18%; top: -5px; left: 75%; animation-delay: 1.8s; }#stuck2 { width: 8%; top: 8px; left: 28%; animation-delay: 2.25s; }
#stuck3 { width: 10%; top: 60px; left: 38%; animation-delay: 4.4s; }
#stuck4 { width: 8%; top: -12px; left: 2%; animation-delay: 3.2s; }
#stuck5 { width: 10%; top: 22px; left: 2%; animation-delay: 2s; }
#stuck6 { width: 10%; top: 60px; left: 45%; animation-delay: 1s; }
#stuck7 { width: 15%; top: -5px; left: 45%; animation-delay: 1.8s; transform: scaleX(-1); -webkit-transform: scaleX(-1); }
#stuck9 { width: 12%; top: 45px; left: 8%; animation-delay: 2s; }
  
  