body {
  background-color: rgb(255, 128, 0);
}
#main {
  text-align: center;
}
.scene {
  border: 2px solid black;
  overflow: hidden;
}
#fall-container { 
  height: 400px;
  position: relative;
  perspective-origin: center;
  perspective: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaves {
  z-index: 5;
}
.text {
  z-index: 5;
}
.text--scroll {
  transform: rotateY(190deg)
    rotateX(90deg);
}
.stays { 
  position: absolute;
  width: 8%;
  transform-origin: 20px -10px 10px;
  animation-name: fall, sway;
  animation-duration: 20s, 20s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
#leaf1 { width: 15%;top: -60px; }
#leaf2 { width: 10%; top: -45px; left: 50%; animation-delay: 2s; transform: rotateX(58deg); }
#leaf3 { width: 8%; top: -122px; left: 22%; animation-delay: 3.2s; }
#leaf4 { width: 5%; top: -55px; left: 38%; animation-delay: 4.4s; }
#leaf5 { width: 8%; top: -45px; left: 30%; animation-delay: 2.25s; }
#leaf6 { width: 18%; top: -65px; left: 55%; animation-delay: 1.8s; }

.pumpkins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(255, 128, 0, 0.1);
  z-index: -10;
}
.pumpkins img {
  width: 35%;
}
@keyframes sway { 
	0% { transform: rotateZ(-15deg) rotateX(55deg);  }
	30% { transform: rotateZ(20deg) rotateX(60deg); animation-timing-function: ease-in-out; }
	60% { transform: rotateZ(-20deg) rotateX(55deg); animation-timing-function: ease-in-out;  }
	100% { transform: rotateZ(0deg) rotateX(58deg); animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435);  }
}
@keyframes fall { 
	60% { -webkit-filter: drop-shadow(0px 60px 40px rgba(0,0,0,0)); }
	100% { margin-top: 500px; 
		-webkit-filter: drop-shadow(0px 5px 8px rgba(0,0,0,0.6)); }
}